  <footer>
    <div class="container">
      <div class="row">
        <div class="span12">
          <nav>
            <a href="/sponsor/">Become a Sponsor</a><span> | </span><a href="/host/">Host an Event</a><span> | </span><a href="/code-of-conduct/">Code of Conduct</a>
          </nav>
        </div>
      </div>
      <div class="row">
        <div class="copyright">
          <a href="/"><img src="/img/logo-small.png" title="Web Afternoon"></a>
          <p>Web Afternoon is brought to you by <a href="http://ninelabs.com">Nine Labs</a> and the <a href="http://www.awdg.org">Atlanta Web Design Group</a>. &copy {{ site.time | date: "%Y" }} All Rights Reserved</p>
        </div>
      </div>
    </div>
  </footer>

  <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>

</body>
</html>