<section id="info">
  <div class="container">
    <div class="info">
      <h1>What to Expect</h1>
      <p class"left">Two keynote speakers and a dozen thought leaders bring the latest and greatest of the Web that's relevant to you. They'll be speaking but also leading group discussions and mingling with you. No tracks, no breakout rooms. Settle in for an afternoon with your tribe. Lean, fast-paced, and designed to spur conversation, you'll leave Web Afternoon inspired and informed. <strong>That's how ideas are born.</strong></p>
      <p>You won't find fancy flowers or dramatic lighting at Web Afternoon. We minimize the fluff to focus on providing quality content from people in the know, at a price you can afford. Your ticket to Web Afternoon is a vote of confidence in the community you love. <em>Every penny</em> from our events goes straight back to help local groups and meet-ups you love. We've generated thousands of dollars so far for Web- and technology-focused groups, and we're just getting started.</p>
    </div>
  </div>
</section>
