<div class="container intro">
  <div>
    <h2>This is Not Your Ordinary Web Conference</h2>
    <div class="overview">
      <div>
        <h3>It&rsquo;s About People</h3>
        <p>This is an afternoon of conversation and mingling with people you want to know. Industry thought leaders talk <em>with you, not at you</em>. Pick their brains as they share short talks full of high-quality, meaningful information.</p>
      </div>
      <div>
        <h3>So Rub Some Elbows</h3>
        <p>Interact with fellow attendees and make a new friend you&rsquo;re excited to meet again and again. No fluff, no ego&mdash;just great discussions and the chance to network with people like you. People who understand the Web. People who get it.</p>
      </div>
    </div>
  </div>
</div>