<h1>What to Expect</h1>
<p class"left">Two keynote speakers and a dozen thought leaders bring the latest and greatest of the Web that's relevant to you. They'll be speaking but also leading group discussions and mingling with you. 
  
<h2>You'll be participating, not taking notes.</h2>
Bookended by high-quality keynote speakers, the afternoon will give you the opportunity to connect with others interested in the same topics as you during breakout sessions. Local thought leaders will give talks and sum up the conversations with a panel discussion, followed by a group activity to get your creative juices flowing. At the end of it all we'll mingle together and indulge in a libation or two.
  
<h2>Settle in for an afternoon with your tribe.</h2> 
Fast-paced and designed to spur conversation, you'll leave Web Afternoon inspired and informed. <strong>That's how ideas are born.</strong></p>
 
<p class"right">
<h2>You won't find fancy flowers or dramatic lighting at Web Afternoon.</h2>
We minimize the fluff to focus on providing quality content from people in the know, at a price you can afford. 
<h2>Your ticket to Web Afternoon is a vote of confidence in the community you love.</h2> 
Every penny from our events goes straight back to help local groups and meet-ups you love. We've generated thousands of dollars so far for Web- and technology-focused groups, and <strong>we're just getting started</strong>.</p>