<section id="subscribe">
  <div class="container">
    <form action="//awdg.us4.list-manage.com/subscribe/post?u=dd83e9925d042bbeb961edab2&amp;id=12dcfd1825" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate subscribe" target="_blank" novalidate>
      <h1>Get Notified When We Have Updates</h1>
      <input type="email" name="EMAIL" placeholder="aw@some.com" id="mce-EMAIL">
      <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" >Subscribe</button>
      <div style="position: absolute; left: -5000px;"><input type="text" name="b_dd83e9925d042bbeb961edab2_12dcfd1825" tabindex="-1" value=""></div>
    </form>
  </div>
</section>