// ----- info -------
section #info {
  background: url(/img/info-bkgd.jpg) no-repeat center bottom;
  background-size: cover;
}

.info {
  @include make-md-column(12);
  padding: 50px 0px;
  h1 {
    padding-bottom: 15px;
    color: #fff;
    text-align: center;
  }
  p {
    @include make-md-column(6);
    color: #fff;
    line-height: 28px;
    padding: 10px 20px 30px 10px;
  }
}