////////////////
// SPEAKER BLOCKS
.test {
  background-color: lighten($brand-primary,20%);
  position: relative;
  width: 100%;
  float: left;
  @include breakpoint(sm) {
    @include make-md-column(2);
    margin: 0 auto;
    padding: 0px 0px 60px 0px;
  }
  @include breakpoint(md) {
    @include make-md-column(3);
    margin: 0 auto;
    padding: 0px 0px 60px 0px;
  }
  @include breakpoint(lg) {
    @include make-md-column(3);
    margin: 0 auto;
    padding: 0px 0px 60px 0px;
  }
  img {
    width: 100%;
    float: left;
  }
  .name {
    position: absolute;
    background-color: rgba(250, 250, 250, 1);
    bottom: 0;
    padding: 20px 10px;
    border-bottom: 10px solid #d84315;
    h1 {
      color: #d84315;
      font-size: 24px;
      padding: 5px 0px;
      margin: 0 auto;
    }
    h2 {
      color: #2d2d2d;
      font-size: 16px;
      padding: 0px;
      line-height: 22px;
      margin: 0 auto;
    }
    h3 {
      font-size:16px;
      padding:0;
      margin:0;
      text-align: left;
    }
  }
}

// ----- keynotes -------
.keynotes {
  h1 {
    font-size: 65px;
    padding-left: 10px;
    color: #d84315;
  }
  h3 {
    color: #d84315;
    font-size: 75px;
    text-align: center;
  }
  .test {
    @include breakpoint(sm) {
      width: 33.3%;
      float: left;
    }
    @include breakpoint(md) {
      width: 33.3%;
      float: left;
    }
    @include breakpoint(lg) {
      width: 33.3%;
      float: left;
    }
  }
}

.speakers {
  h1 {
    font-size: 65px;
    padding-left: 10px;
    color: #d84315;
  }
  h3 {
    color: #d84315;
    font-size: 75px;
    text-align: center;
  }
}