{% include _head.html %}
<body>

  <header id="home" class="full">
    <div class="hero">
      <div class="brand">
        <a href="/"><img src="/img/logo.png" alt="Web Afternoon"></a>
      </div>  
      <h1>The Event for People Who Love the Web</h1>
    </div>

  <script src="//use.typekit.net/fux7mjz.js"></script>
  <script>try{Typekit.load();}catch(e){}</script> 
  
  </header>

  <section id="content">

  
    <div class="container">
      <div class="block1">
        <h1>Content Header</h1>
        <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.</p>
      </div> <!-- END BLOCK 1 -->
    </div> <!-- END CONTAINER -->


  <section>
    <div class="keynotes">
      <h3>Keynote Speakers</h3>
      <div class="test">
          <div class="name">
            <h1>Martin Ringlein</h1>
            <h2>CEO | Nvite</h2>
          </div>  
        <img src="/img/atlanta/martin_ringlein.jpg">
      </div>  
      <div class="test">     
          <div class="name">
            <h1>Greg Hoy</h1>
            <h2>Principal and Founding Partner | Happy Cog and Bureau of Digital</h2>
          </div>
        <img src="/img/atlanta/greg_hoy.jpg">  
      </div>
    </div> 
  </section>


  <div class="container">
    <div class="mobile-gold">
      <div class="gold-sponsors">
        <h1>Gold Sponsors</h1>
        <img src="/img/polygon.png">
        <img src="/img/polygon.png">
        <img src="/img/polygon.png">
        <img src="/img/polygon.png">
        <img src="/img/polygon.png">
      </div> <!-- END GOLD SPONSORS -->
    </div>
  </div>


  <section>
    <div class="speakers">
      <h3>Talks & Thought Leaders</h3>
      <div class="test">
        <div class="name">
          <h1>Anna</h1>
          <h2> Owner</h2>
          <h2>Laboratory Marketing</h2>
        </div>
        <img src="/img/atlanta/anna.jpg">
      </div>

      <div class="test">
        <div class="name">
          <h1>Chidi Afulezi</h1>
          <h2>Co-Founder, Head Product Guy</h2>
          <h2>The Core</h2>
        </div>
        <img src="/img/atlanta/chidi.jpg">
      </div>
      
      <div class="test">
        <div class="name">
          <h1>Fabio Carneiro</h1>
          <h2>Lead Email Developer & UX Designer</h2>
          <h2>MailChimp</h2>
        </div>     
        <img src="/img/atlanta/fabio.jpg">
      </div>

      <div class="test">        
        <div class="name">
          <h1>Vicky Jones</h1>
          <h2>President</h2>
          <h2>Brand Fever</h2>
        </div>      
        <img src="/img/atlanta/vicky.jpg">
      </div>

      <div class="test">
        <div class="name">
          <h1>Sophia Voychehovski</h1>
          <h2>Founder</h2>
          <h2>ReWired UX Studio</h2>
        </div>   
        <img src="/img/atlanta/sophia.jpg">
      </div>

      <div class="test">       
        <div class="name">
          <h1>Rosario Robinson</h1>
          <h2>Program Manager</h2>
          <h2> Anita Borg Institute for Women & Technology</h2>
        </div>   
        <img src="/img/atlanta/rose.jpg">
      </div>

      <div class="test">       
        <div class="name">
          <h1>Alankar Tayal </h1>
          <h2>Online Usability, Optimization, Testing & Analytic Strategy</h2>
          <h2>Sage Software</h2>
        </div>
        <img src="/img/atlanta/alankar.jpg">
      </div>
      
      <div class="test">
        <div class="name">
          <h1>Melanie Crissey</h1>
          <h2>Client Success Manager</h2>
          <h2>Rigor</h2>
        </div>
        <img src="/img/atlanta/melanie.jpg">
      </div>
      
      <div class="test">
        <div class="name">
          <h1>John Saddington</h1>
          <h2>Partner, Hacker</h2>
          <h2>The Iron Yard, Desk App</h2>
        </div>
        <img src="/img/atlanta/john.jpg">
      </div>

      <div class="test">
        <div class="name">
          <h1>Jennifer Fix</h1>
          <h2>VP of Marketing & Client Services</h2>
          <h2>352 Inc.</h2>
        </div>
        <img src="/img/atlanta/jen.jpg">
      </div>

      <div class="test">
        <div class="name">
          <h1>Erica Stanley </h1>
          <h2>Founder</h2>
          <h2>Acire Studios</h2>
        </div>
        <img src="/img/atlanta/erica.jpg">
      </div>

      <div class="test">
        <div class="name">
          <h1>Doc Waller</h1>
          <h2>Inspiration Architect</h2>
          <h2>Becoming Possible</h2>
        </div>
        <img src="/img/atlanta/doc.jpg">
      </div>
      
       
    </div> <!-- END SPEAKERS -->
  </section>


<section id="info">
  <div class="container">
    <div class="info">
      <h1>Content Header</h1>
      <p class"left">Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>

      <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
    </div> <!-- END INFO -->
    </div>
</section>  



  <div class="container">
      <div class="silver-sponsors">
        <h1>Silver Sponsors</h1>
        <img src="/img/polygon_BW.png">
        <img src="/img/polygon_BW.png">
        <img src="/img/polygon_BW.png">
        <img src="/img/polygon_BW.png">
        <img src="/img/polygon_BW.png">
        <img src="/img/polygon_BW.png">
      </div> <!-- END SILVER SPONSORS -->
  </div>
 
  
<section id="subscribe">
  <div class="container">
    <div class="subscribe">
      <h1>Get Notified When We Have Updates</h1>
      <input type="text">
      <button>Subscribe</button>
    </div> <!-- END SUBSCRIBE -->
  </div>
</section>

{% include _foot.html %}
</section> <!-- END CONTENT -->

</body>



