{% include _head.html %}

<body>

  <header id="home" class="thin">
    <div class="hero">
      <div class="brand">
        <a href="/"><img src="/img/logo.png" alt="Web Afternoon"></a>
      </div>
      <div class="message">
        <h1>The Event for People Who Love the Web</h1>
        <h2>A lean and fast-paced half-day event designed with value in mind.</h2>
      </div>
      <div class="cta">
        <a href="/">Get Your Tickets Here</a>
      </div>
    </div>
  </header>

  <section id="content">
    <div class="container">

      {{ content }}

    </div>
  </section>

{% include _foot.html %}